@import '../../styles.scss';

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include for-size(tablet-portrait-up) {    
        flex-direction: row;
        padding: 24px 40px;
    }
    
    &__logo {
        font-family: $Bebas;
        font-size: 48px;
        color: $main;
        cursor: pointer;
    }

    &__menu {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        @include for-size(tablet-portrait-up) {    
            justify-content: flex-end;
        }

        @include for-size(phone-only) {    
           flex-direction: column;
        }

        &--option {
            padding : 8px 16px;
            margin: 0 8px;
            background: none;
            border: 1px solid $white;
            border-radius: 3px;

            @include for-size(phone-only) {    
                width: 80%;
                margin: 5px 10px;
             }

            i {
                margin: 0 4px;
            }

            &:hover {
                color: $dark-grey;
                background-color: $white;
            }
        }

        &--home {
            display: none;
            
            @include for-size(tablet-portrait-up) {    
                display: block;
            }
        }

        &--link {
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: $dark-grey;
            }
        }

        &--login {
            background-color: $main;
            border: none;

            &:hover {
                background-color: $dark-grey;
                color: $white;
            }
        }
    }
}

