<div class="header">
    <div class="header__logo" [routerLink]="['/home']">VideoGames</div>

    <div class="header__menu">
        <div [routerLink]="['/home']" class="header__menu--option header__menu--home header__menu--link">
                Home
        </div>
        <div [routerLink]="['/contact']" class="header__menu--option header__menu--link">
                Contact
        </div>
        <div [routerLink]="['/about-us']" class="header__menu--option header__menu--link">
                About Us
        </div>
        
        <div [routerLink]="['/my-account']" class="header__menu--option header__menu--login header__menu--link">
            <i class="fa-solid fa-user"></i>
                My Account
            
        </div>
    </div>
</div>


