<div class="footer">
    <div class="footer__col">
        <div class="footer__title">
            Group 06 Members
        </div>
        <div class="footer__link">
            Daniel Vinyas Torres
        </div>
        <div class="footer__link">
            Alicia Rebollo Sanchez 
        </div>
        <div class="footer__link">
            Carlos de Vega Muñoz 
        </div>
    </div>

    <div class="footer__col">
        <div class="footer__title">
            Our links
        </div>
        <a class="footer__link" routerLink="/my-account" routerLinkActive="active" ariaCurrentWhenActive="page">
            My Account
        </a>
        <a class="footer__link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
            Contact
        </a>
        <a class="footer__link" routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">
            About us
        </a>
    </div>

    <div class="footer__col">
        <div class="footer__title">
            Popular Stores
        </div>
        <a href="https://store.steampowered.com/" target="_blank" class="footer__link">
            STEAM
        </a>
        <a href="https://gog.com/" target="_blank" class="footer__link">
            GOG
        </a>
        <a href="https://www.epicgames.com/" target="_blank" class="footer__link">
            EPIC GAMES
        </a>
    </div>

    <div class="footer__col">
        <div class="footer__title">
            SHARE
        </div>
        <a href="https://facebook.com/" target="_blank" class="footer__link">
            Facebook
        </a>
        <a href="https://instagram.com/" target="_blank" class="footer__link">
           Instagram
        </a>
        <a href="mailto:" target="_blank" class="footer__link">
            Mail
        </a>
    </div>
</div>
