@import '../../styles.scss';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $black;
    padding: 20px 60px;
    border-top: 5px solid $dark-grey;

    @include for-size(tablet-portrait-up) {
        flex-direction: row;
        padding: 20px 60px;
        justify-content: space-between;
    }

    &__title {
        font-weight: 700;
        font-style: italic;
        padding: 20px 0;
        color: $grey;
    }

    &__link {
        color: $grey;
        font-size: 14px;
        padding: 12px 0;
    }
}