<div class="footer">
    <div class="footer__col">
        <div class="footer__title">
            Group 06 Members
        </div>
        <div class="footer__link">
            Daniel Vinyas Torres
        </div>
        <div class="footer__link">
            Alicia Rebollo Sanchez 
        </div>
        <div class="footer__link">
            Carlos de Vega Muñoz 
        </div>
    </div>

    <div class="footer__col">
        <div class="footer__title">
            Our links
        </div>
        <div class="footer__link">
            My Account
        </div>
        <div class="footer__link">
            Contact
        </div>
        <div class="footer__link">
            About us
        </div>
    </div>

    <div class="footer__col">
        <div class="footer__title">
            Popular Stores
        </div>
        <div class="footer__link">
            <a href="https://store.steampowered.com/" target="_blank">STEAM</a>
        </div>
        <div class="footer__link">
            <a href="https://gog-games.com/" target="_blank">GOG</a>
        </div>
        <div class="footer__link">
            <a href="https://www.epicgames.com/" target="_blank">EPIC GAMES</a>
        </div>
    </div>

    <div class="footer__col">
        <div class="footer__title">
            SHARE
        </div>
        <div class="footer__link">
            <a href="https://facebook.com/" target="_blank">Facebook</a>
        </div>
        <div class="footer__link">
            <a href="https://instagram.com/" target="_blank">Instagram</a>
        </div>
        <div class="footer__link">
            <a href="mailto:" target="_blank">Mail</a>
        </div>
    </div>
</div>
