@import '../../styles.scss';

.about {
    padding: 0;

    @include for-size(tablet-portrait-up) {
      padding: 0 40px;
    }

    &__title {
        font-size: 36px;
        text-align: center;
        padding: 16px 10px;

        @include for-size(tablet-portrait-up) {
            font-size: 48px;
            padding: 48px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 30px;
        align-items: center;
       
        border-radius: 3px;
        margin-bottom: 32px;
        -webkit-box-shadow: 0px 5px 15px 4px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 5px 15px 4px rgba(0,0,0,0.5);
        box-shadow: 0px 5px 15px 4px rgba(0,0,0,0.5);

        background: $black;
    }

    &__name {
        color: $grey;
        font-size: 26px;
        font-style: italic;
        font-weight: 700;
        padding: 15px 0;
    }
}