<app-header></app-header>

<div class="contact">
    <h1 class="contact__title">Contact Us</h1>

    <form class="contact__form" action="#">
        <label class="contact__form--label" for="name">Name</label>
        <input [(ngModel)]="name" class="contact__form--input" id="name" name="name" placeholder="Your name">
        
        <label class="contact__form--label" for="email">Email</label>
        <input [(ngModel)]="email" class="contact__form--input" id="email" name="email" placeholder="Email">

        <label class="contact__form--label" for="textarea">Reason</label>
        <textarea [(ngModel)]="reason" class="contact__form--textarea" type="textarea" id="reason" name="reason" placeholder="Reason for contacting us"></textarea>

        <input class="contact__form--submit" type="submit" value="Send" />
    </form>
</div>

<app-footer></app-footer>