@import '../../styles.scss';

.content {
    display: flex;
    flex-direction: column;

    @include for-size(tablet-portrait-up) {    
        padding: 0 40px;
    }

    @include for-size(big-desktop-up) {    
        padding: 0 240px;
    }

    &__title {
        font-size: 36px;
        text-align: center;
        padding: 16px 10px;

        @include for-size(tablet-portrait-up) {
            font-size: 48px;
            padding: 66px 48px;
        }

    }
}