@import '../../styles.scss';

.games-list {

  &__genre {

    &--title {
      text-align: center;
      font-size: 32px;
      font-weight: 700;
    }

    &--carousel {
      padding-bottom: 36px;
    }

    &--tile {
      flex: 1;
      margin: 24px 16px;
    }
  }
}
